
body {
    background-color: #7E725D;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Arial, serif;
}

header {
    position: block;
    background-image: url(mountainheader.jpg);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

h1 {
  position: relative;
  top:40%;
  float: right;
  width: 100%;
  padding-left:0px;
  text-align: center;
  color: rgba(255,255,255,0.9);
  font-family: 'Roboto Slab', serif;  
  font-size: 4vw;
  font-weight: bold;
  z-index: 1;
}

h2 {
    text-decoration: underline;
    position: relative;
    width: 50%;
    margin: auto;
    color: #2189B1;
    text-align: center;
    padding-top: 3%;
}

 p {
    position: relative;
    width: 50%;
    margin: auto;
    color: #2189B1;
    text-align: center;
}

#container {
    height: auto;
    background-color: #DFE7E9;
    width: 100%;
    position: relative;
    display: block;
    margin: 0 0 160px;
    border-top: 8px solid #7E725D;
    border-width: 100%;
}

/* Nav menu Icons */
.menu-icon {
  position: fixed;
  color: rgba(255,255,255,0.9);
  margin: 15px;
  font-size: 2.3em;
  top: 20px;
  left: 20px;
  z-index: 50;
}


.fa-bars:hover, .fa-times:hover, li:hover {
  cursor: pointer;
  opacity: 0.4;
}

.fa-times {
  float: left;
  position: relative;
  color: rgba(255,255,255,0.9);
  margin: 15px;
  font-size: 2.3em;
  z-index: 101;
}


/* Nav menu */
.menu {
  position: absolute;
  background-color: rgba(126,114,93,.95);
  left: -240px;
  position: fixed;
  width: 240px;
  height: 100%;
  overflow: scroll;
  z-index: 100;
  border-radius: 0px 25px 25px 0px;
  
  
}


nav {
  position: absolute;
  top: 15%;
  left: 15px;
  right: 20px;
  text-align: right;
  font-size:2em;
  z-index: 100;
  list-style-type: none;

 
}

/* Text Hover Color Transistions */
.menu .linktext{
  position:relative;
  z-index:2;
  color: #DFE7E9;
  text-decoration:none;
  font-weight: 500;
  font-family: 'Slabo 27px', Arial, sans-serif;
  transition:0.4s ease-in-out;
  -webkit-transition:0.4s ease-in-out;
}
.menu .linktext:before{
  display:block;
  content:attr(data-text);
  position:absolute;
  white-space: nowrap;
  top:0px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  opacity:1;
  color:#2189B1;
  overflow:hidden;
  max-width:0%;
  max-height:0%;
 
}
.menu a{
  padding: 10px;
  margin-right: 15px;
  margin-left: 15px;
  position:relative;
  display:inline-block;
  z-index:2;
  text-decoration:none;
  transition:.04s ease-in-out;
  -webkit-transition:.04s ease-in-out;

}
.menu a:hover .linktext:before{
  max-width:100%;
  max-height:100%;
}

/* Text Underline Transistions */

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0px;
  background-color: #2189B1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.contactform {
    border-radius: 5px;
    margin: auto;
    max-width: 450px;
    width: 450px;
    overflow: hidden;
    padding: 50px;
    border-radius: 25px;
    position: relative;
    
}

.formheader {
    background: #2189B1;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
}

.formbody {
    background: transparent;
    height: 980px;
    padding: 20px 12px;
    overflow: hidden;
}

.inputcontainer {
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
    background: transparent;
}


.inputcontainer label,.inputcontainer input,.inputcontainer textarea {
    padding: 10px;
    font-size: 14px;
    line-height: 1em;
    border: none;
    font: inherit;
}

.inputcontainer label {
    display: inline-block;
    font-size: .7em;
    background: #2189B1;
    color: rgba(0,0,0,0.3);
    border-right: 1px solid #B3B3B3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.inputcontainer textarea,.inputcontainer input {
    width: 100%;
    max-width: 100%;
}

.inputcontainer textarea {
    margin-bottom: -5px;
}

.inputcontainer input {
    padding-left: 50px;
}

.submitbtn {
    background: #2189B1;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font: inherit;
    padding: 10px 18px;
    margin-top: 10px;
    float: right;
    width: auto;
}

.submitbtn:hover {
    background-color: #7E725D;
}

.inputcontainertwo {
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
    background: transparent;
    left: 19px;
    width: 185px;
}

.inputcontainertwo label,.inputcontainertwo input{
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    line-height: 1em;
    border: none;
    font: inherit;
}

.inputcontainertwo label {
    display: inline-block;
    font-size: .7em;
    background: #2189B1;
    color: rgba(0,0,0,0.3);
    line-height: 1.75em;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.inputcontainertwo input {
    width: 100%;
    max-width: 100%;
}

.inputcontainertwo textarea {
    margin-bottom: -5px;
}

.inputcontainertwo input {
    padding-left: 30px;
}

.inputrequest {
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
    background: #FFF;
}

.inputrequest label,.inputrequest input {
    padding: 10px;
    font-size: 14px;
    line-height: 1em;
    border: none;
    font: inherit;
}

.inputrequest label {
    display: inline-block;
    font-size: .7em;
    background: #2189B1;
    color: rgba(0,0,0,0.3);
    border-right: 1px solid #B3B3B3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.inputrequest .response {
    position: relative;
    left: 45px;
    top: 5px;
    margin-bottom: 4%;
}

.inputrequest input {
    padding-top: 30px;
    clear: left;
}

.inputrequest p {
    padding-bottom: 0;
    font-size: 80%;
    text-align: left;
    float: left;
}
#userRequest{
  display: block;
}
footer {
    width: 100%;
    height: 160px;
    background-color: #7E725D;
    position: fixed;
    bottom: 0;
    color: #DFE7E9;
    text-align: center;
    z-index: -5;
    font-family: 'Slabo 27px',Arial,sans-serif;
    font-size: 18px;
    clear: both;
}

footer p {
    padding-top: 50px;
    color:#FFFFFF;
    font-size: .8em;
}

/* Responsive Media Queries */
@media screen  and (min-width: 980px) /* Tablet */ {
}

@media screen  and (max-width: 979px) /* Tablet */ {
#container {

}
.contactform{

}
}
@media screen  and (max-width:800px) /* Tablet */ {
h1{
  font-size: 2.7em
}
#container {

}
.contactform{

}
}
@media screen  and (max-width:765px) /* Tablet */ {
h1{
  font-size: 2.7em;
}
#container {

}
.contactform{
  width:350px;
}
}
@media screen and (max-width: 500px) /* Mobile */ {
h1{
  font-size: 2.7em
}
p{
  font-size: 1.2em;
}
#container {

}
.contactform{
  width:280px;
}
}
@media screen and (max-width: 450px) /* Mobile */ {
h1{
  font-size: 2.4em
}
p{
  font-size: 1.2em;
}
#container {

}
.contactform{
  width: 260px;
}
}
@media screen and (max-width: 400px) /* Mobile */ {
h1{
  font-size: 2.3em
}
p{
  font-size: 1.1em;
}
#container {
}
.contactform{
  width:230px;
}
}
@media screen and (max-width: 340px) /* Mobile */ {
h1{
  font-size: 2.2em
}
p{
  font-size: 1.1em;
}
#container {
}
.contactform{
  width: 200px;
}
}